spconv-cu113
scikit-learn==1.0.2
ninja==1.10.2.3
gdown
easydict==1.13
PyYAML==6.0
protobuf==3.19.4
tensorboard==2.8.0
tqdm==4.62.3
h5py==3.6.0
matplotlib==3.5.1
wandb
setuptools==69.5.1
Cython==0.29.28
opencv-python==4.5.1.48
open3d==0.15.2
pandas
llvmlite
tensorboardX
scikit-image
SharedArray
pyquaternion
gpustat
kornia==0.6.8
av2==0.2.0